/* RESET */
ul, h1, h2, h3, h4, h5, p {
  margin: 0;
}
/* /RESET */

/* debug */
.debug .row {
  background-color: pink;
}

.debug [class*="col-"] {
  border: 1px solid #000;
}

.debug [class*="col-"] > .row {
  height: 100%;
}

.debug [class*="col-"] > .row [class*="col-"] {
  border: 1px solid #fff;
  background-color: lightcoral;
}
/* debug */

/* TYPO */
body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 54px;
  font-weight: 500;
}
h2 {
  font-size: 32px;
  font-weight: 700;
}
/* /TYPO */

/* CONTAINER */
.container_1024 {
  max-width: 1024px;
  margin: auto;
}
/* /CONTAINER */

/* COLOURS */
.bg_yellow {
  background-color: yellow;
}
.bg_grey {
  background-color: #F3F5F9;
}
/* /COLOURS */

/* MIX */
.p_top_60 {
  padding-top: 60px;
}
.p_bottom_60 {
  padding-bottom: 60px;
}
.m_bottom_20 {
  margin-bottom: 20px;
}
.fa-greater-than {
  font-weight: 700;
  font-size: 10px;
  vertical-align: middle;
  margin-left: 5px;
}
a.link_click {
  color: #006aff;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.link_click:hover {
  color: #1633ff;
}

.fa-angle-left {
  font-size: 40px;
  color: 	rgba(3, 27, 78, 0.5)
}
.fa-angle-right {
  font-size: 40px;
  color: 	rgb(3, 27, 78);
}
.fa-circle {
  font-size: 10px;
  color: #006aff;
}
/* /MIX */

/* HEADER */

/* Header top */
.header_top {
  height: 60px;
  line-height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
}
.header_top img {
  height: 25px;
}
.header_top a {
  font-size: 16px;
  font-weight: 500;
  color: #031b4e;
  text-decoration: none;
}
.header_top a:hover {
  color: #006aff;
}
.fa-angle-down {
  font-size: 20px;
  vertical-align: middle;
}
.header_top .btn_sign {
  padding: 5px 12px;
  border: 1px solid #006aff;
  color: #006aff;
  border-radius: 5px;
}
.header_top .btn_sign:hover {
  background-color: #006aff;
  color: #fff;
}
.fa-bars {
  font-size: 20px;
  color: #006aff;
  vertical-align: middle;
}

/* Jumbotron */
.jumbotron_custom {
  margin-top: 60px;
  background-image: url(../img/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main_title {
  padding: 20px 0 0;
}
.main_title h1 {
  color: #fff;
  margin-bottom: 15px;
}
.main_title p {
  color: #BBCBFE;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.box_white {
  background-color: #fff;
  border-radius: 5px;
  padding: 40px 20px 25px;
}
.box_white h3 {
  color: #031b4e;
  font-weight: 700;
  font-size: 26px;
}
.box_white p:first-of-type {
  color: #006aff;
  font-weight: 700;
  font-size: 26px;
  margin: 10px 0;
}
.box_white p:last-of-type {
  color: #031b4e;
  font-weight: 500;
  font-size: 12px;
  margin-top: 10px;
}
.box_white p:last-of-type a {
  text-decoration: underline;
  color: #006aff;
}
.box_white input {
  border: 1px solid #e5e8ed;
  border-radius: 5px;
  padding: 8px 5px;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 13px;
}
.btn_blue {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #fff;
  padding: 3px 0;
  width: 100%;
  background-color: #006aff;
  border: 1px solid #006aff;
  border-radius: 3px;
  font-weight: 500;
  margin-bottom: 10px;
}
.btn_google {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #626262;
  padding: 3px 0;
  position: relative;
  width: 100%;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  font-weight: 700;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1)
}
.box_white .btn_google img {
  position: absolute;
  height: 18px;
  left: 1%;
}
/* /HEADER */

/* MAIN */

/* Logos */
#logos {
  padding: 50px 25px 30px;
}
#logos h5 {
  color: #5b6987;
  font-size: 16px;
  margin-bottom: 30px;
}
#logos li {
  width: calc(97% / 6);
  padding: 0 5px;
  vertical-align: middle;
}
#logos li img {
  width: 100%;
}
/* Deploy */
#deploy h2 {
  color: #031b4e;
}
#deploy h2 + p {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0 40px;
  color: #5C6A88;
}
#deploy ul {
  border-left: 2px solid #CCCCCC;
  padding-left: 10px;
}
#deploy ul li {
  margin-bottom: 20px;
}
#deploy ul li a {
  color: #5C6A88;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
}
#deploy h4 {
  color: #031b4e;
  font-weight: 700;
  font-size: 20px;
  margin: 10px 0;
}
#deploy h4 + p  {
  font-size: 16px;
  font-weight: 500;
  color: #5C6A88;
  margin-bottom: 10px;
}

/* Designed */
#designed {
  padding-left: 15px;
  padding-right: 15px;
}
#designed h2 {
  color: #031b4e;
}
#designed p:first-of-type {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0 50px;
  color: #5C6A88;
}
#designed img {
  max-width: 500px;
  width: 70%;
  vertical-align: middle;
  margin: 0 15px;
}

#designed p:last-of-type {
  color: #031b4e;
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px
}

/* Features */
#features h2 {
  color: #031b4e;
  margin-bottom: 30px;
}
#features img {
  height: 32px;
  margin-top: 20px;
}
#features h4 {
  color: #031b4e;
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
}
#features p {
  color: #5C6A88;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px
}

/* Service */
#service {
  background-image: linear-gradient(#0043C1, #00209B);
}
#service h2 {
  color: #fff;
  margin-bottom: 10px;
}
#service li {
  padding: 10px 15px;
  font-size: 12px;
}
#service ul li:not(:last-child) {
  border-bottom: 1px solid #fff;
}
#service div:first-child > span {
  color: #fff;
}
#service div:nth-child(2) > span {
  color: lightgrey;
}
#service a {
  color: #00d7d2;
  text-decoration: none;
}
#service a:hover {
  color: #1633ff;
}
#service .fa-greater-than {
  font-size: 6px;
}
/* Development */
#development {
  padding-left: 15px;
  padding-right: 15px;
}
#development h2 {
  color: #031b4e;
  margin-bottom: 80px;
}
#development .box_screen {
  display: inline-block;
  max-width: 500px;
  width: 60%;
  vertical-align: middle;
  background-color: #fff;
  margin: 20px 15px;
}
.box_screen img {
  max-width: 100%;
  max-height: 35px;
}
.box_screen p:first-of-type {
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0 10px;
  color: #5C6A88;
}
.box_screen h5 {
  color: #031b4e;
  font-size: 14px;
  font-weight: 700;
}
.box_screen p:nth-of-type(2) {
  color: #031b4e;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
}
/* Get started */
#get_started {
  background-image: linear-gradient(#0043C1, #00209B);
}
/* /MAIN */

/* FOOTER */
footer {
  background-color: #031C4E;
}
/* /FOOTER */

/* RESPONSIVE */
@media screen and (min-width: 768px) {
  .h_200 {
    height: 200px;
  }
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 42px;
  }

  #designed p:first-of-type {
    margin-bottom: 100px;
  }
  #designed p:last-of-type {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  #logos li {
    width: calc(98% / 2);
  }
}
